  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Reqres</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/usuarios">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/registrar">{{idiomaCorrente ? por[0] : eng[0]}}</a>
          </li>
        </ul>
      </div>
      <img 
        class="d-inline-block p-1"
        (click)="mudaIdioma(true)" 
        src="/assets/icons/flags/BR.png" 
        alt="BR">
      <img 
        class="d-inline-block p-1" 
        (click)="mudaIdioma(false)" 
        src="/assets/icons/flags/US.png" 
        alt="US">
  </nav>